services:
  db:
    image: postgres:17
    env_file:
      - .env
    volumes:
      - pgdata_new:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./code:/app
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

  pgadminjuice:
    image: dpage/pgadmin4
    container_name: pgadminjuice
    restart: always
    env_file:
      - .env
    ports:
      - "5051:80"
    depends_on:
      - db

volumes:
  pgdata_new:
